@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grid-container {
  display: grid;
  width: fit-content;
  margin: 1em auto auto;
}

.map-grid {
  width: 67px;
  height: 40px;
  border: 1px solid darkgray;
  margin-bottom: 2px;
}

.map-grid.ready {
  background-color: #004900;
  background-size: contain !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}